[alias]
    add-whitespace-changes = !git add -A && git diff --cached --ignore-all-space | git apply --cached -R
    add-without-whitespace-changes = !git diff --ignore-all-space --no-color "$@" | git apply --cached --ignore-whitespace
    cherry-pick-environment = cherry-pick GH/vscode-environment
    commit-amend-no-edit = commit --amend --no-edit
    commit-amend-no-edit-all = !git commit-amend-no-edit --all
    commit-fixup = commit --fixup
    commit-fixup-all = commit --all --fixup
    commit-message = commit -m
    commit-message-all = commit -am
    current-branch-name = rev-parse --abbrev-ref HEAD
    list-tree = !git log $(git current-branch-name) --oneline --graph --decorate --remotes=*/$(git current-branch-name)
    push-current = !git push origin $(git current-branch-name)
    push-current-force = !git push-current --force
    rebase-autosquash = rebase -i --autosquash
    rebase-environment-onto-current = !git rebase --onto $(git cb) GH/vscode-environment^ GH/vscode-environment
    reset-origin = !git reset --hard origin/$(git current-branch-name)
    unstage-all = reset HEAD --
[color]
    ui = true
[core]
    autocrlf = input
    editor = vi
[diff]
    wsErrorHighlight = all
[difftool "sourcetree"]
    cmd = '' \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = kdiff3-linux
[mergetool "kdiff3-linux"]
    path = /usr/bin/kdiff3
[mergetool "kdiff3-windows"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool "sourcetree"]
    cmd = "'' "
    trustExitCode = true
[user]
    email = gerard.heshusius@qps.nl
    name = Gerard Heshusius
