/*

!.bashrc
!.gitconfig
!.gitignore
!.profile
!.vim/
!.vimrc
!bin/json_tools.py
!bin/upgrade-all
!vimfiles/

.vim/.netrwhist

# Raven
!bin/env.py
!bin/snoop
!bin/startservice.py
!bin/supervision.py
!bin/synccrx.py
