/*

!.bashrc
!.gitconfig
!.gitignore
!.profile
!.vim/
!.vimrc
!bin/json_tools.py
!bin/upgrade-all
!vimfiles/

# Raven
!bin/disable_supervision.py
!bin/env.py
!bin/snoop
!bin/start_operation_planning_service.py
!bin/start_system.py
!bin/start_tango-CR12.py
!bin/sync_crx.py
