[alias]
    addw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero' -
    cb = rev-parse --abbrev-ref HEAD
    lc = show --name-status HEAD
    lg = !git log $(git cb) --oneline --graph --decorate --remotes=*/$(git cb)
    pc = !git push origin $(git cb)
    pcf = !git pc --force
    reoc = !git rebase --onto $(git cb) GH/vscode-environment^ GH/vscode-environment
    ro = !git reset --hard origin/$(git cb)
    st = status
    unstage = reset HEAD --
[color]
    ui = true
[core]
    autocrlf = true
    editor = vi
[diff]
    wsErrorHighlight = all
[difftool "sourcetree"]
    cmd = '' \"$LOCAL\" \"$REMOTE\"
[merge]
    tool = kdiff3-linux
[mergetool "kdiff3-linux"]
    path = /usr/bin/kdiff3
[mergetool "kdiff3-windows"]
    path = C:/Program Files/KDiff3/kdiff3.exe
[mergetool "sourcetree"]
    cmd = "'' "
    trustExitCode = true
[user]
    email = gerard.heshusius@qps.nl
    name = Gerard Heshusius
